<!-- {% load static %}
<!DOCTYPE html>
<html>
<head> -->

<!-- Required meta tags -->
<!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  -->
<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
      <title>Calorie-estimator {{ title }}</title>
</head>
<body> -->
<!-- <img src="../media/nutri.jpg", style="width: 1000px; height: 500px;"> -->
<!-- <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" >Calorie-estimator</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'intermediate' %}">Demographics</a>
              <a class="nav-item nav-link" href="{% url 'demographics' %}">Food Preferences</a>
              <a class="nav-item nav-link" href="{% url 'preference' %}">Fitness Goals</a>
              <a class="nav-item nav-link" href="{% url 'goals' %}">Body Measurements</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a> 
              <a class="nav-item nav-link" href="{% url 'tdee' %}">TDEE</a>
              <a class="nav-item nav-link" href="{% url 'food_items' %}">Food Items</a>
            </div>  -->
<!-- Navbar Right Side -->
<!-- <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>         
        </div>
      </nav>
    </header>


</body>
</html> -->



{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Nutricare – Nutrition Health &amp; Diet Consultancy HTML Template">
    <meta name="author" content="https://www.themetechmount.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Fitness Buddy</title>

    <!-- favicon icon -->
    <link rel="shortcut icon" href="http://themetechmount.com/html/nutricare/images/favicon.png">

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/bootstrap.min.css' %}">

    <!-- animate -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/animate.css' %}">

    <!-- owl-carousel -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/owl.carousel.css' %}">

    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/font-awesome.css' %}">

    <!-- themify -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/themify-icons.css' %}">

    <!-- flaticon -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/flaticon.css' %}">

    <!-- REVOLUTION LAYERS STYLES -->

    <link rel="stylesheet" type="text/css" href="{% static 'users/layers.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'users/settings.css' %}">

    <!-- prettyphoto -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/prettyPhoto.css' %}">

    <!-- shortcodes -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/shortcodes.css' %}">

    <!-- main -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">

    <!-- responsive -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/responsive.css' %}">
</head>
<style>
    .nav-tabs {
        border-color: #004A00;
        width: 60%;
    }

    .nav-tabs>li a {
        border: 1px solid #004A00;
        background-color: #d33e52;
        color: #fff;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        color: greenyellow;
        border: 1px solid #1A3E5E;
        border-bottom-color: transparent;
    }

    .nav-tabs>li>a:hover {
        background-color: #D5FFD5 !important;
        border-radius: 5px;
        color: #000;

    }

    .tab-pane {
        border: solid 1px #2a4a00;
        border-top: 0;
        width: 60%;
        background-color: #D5FFD5;
        padding: 5px;
    }
</style>

<body>
    <div class="page">

        <!-- preloader start -->
        <div id="preloader" style="display: none;">
            <div id="status" style="display: none;">&nbsp;</div>
        </div>
        <!-- preloader end -->


        <!--header start-->
        <header id="masthead" class="header ttm-header-style-stackcenter">
            <!-- ttm-topbar-wrapper -->

            <!-- ttm-header-wrap -->
            <!-- <div class="ttm-header-wrap"> -->

            <div class="container" style="align-items: center; text-align:center;">



                <div class="row">

                    <div class="col-lg-12">
                        <!-- ttm-stickable-header-w -->

                        <div id="ttm-stickable-header-w" class="ttm-stickable-header-w ttm-bgcolor-white clearfix">

                            <div id="site-header-menu" class="site-header-menu">

                                <div class="site-header-menu-inner ttm-stickable-header visible-title fixed-header">
                                    <div>

                                        <ul class="nav navbar-nav navbar-right"
                                            style="display:inline; position:relative; right:40px">

                                            <li><a href="{% url 'logout' %}" style="color: rgb(5, 138, 148);"><span
                                                        class="glyphicon glyphicon-log-out"></span> Logout</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="container">

                                        <!--site-navigation -->
                                        <div id="site-navigation" class="site-navigation">
                                            <div class="row" style="align-items: center;">
                                                <!-- <img src="{% static 'users/logo_venky.png' %}" style="height:20%; width:20%; position:relative; top:100px; left:100px">  -->
                                                <div class="col-lg-6" style="height: ;">
                                                    <img src="{% static 'users/logo_venky.png' %}"
                                                        style="height:15%; width:15%; position:relative; bottom:8px; left:150px">
                                                </div>
                                                <div class="col-lg-12" style="height: 10px;">
                                                    <!-- site-branding -->
                                                    <h1
                                                        style="word-spacing: 20px; font-weight: 550; font-size: 35px; color: rgb(164, 207, 9);  left:50px; position:relative; bottom:50px; font-family:;">
                                                        Fitness Buddy</h1>


                                                </div>


                                            </div>
                                            <ul class="nav nav-tabs nav-justified">
                                                <!-- <li class="nav-item"><a class=ttm-bgcolor-skincolor
                                                        href="{% url 'blog-home' %}">Home</a>
                                                    </li> -->
                                                <li class="nav-item"><a href="{% url 'profile' %}">Profile</a>
                                                </li>
                                                <!-- style="background-color; color:rgb(253, 253, 245); font-weight:500" -->
                                                <li class="nav-item"><a href="{% url 'demo' %}">Demographics</a></li>
                                                <li class="nav-item"><a href="{% url 'demographics' %}">Food
                                                        Preferences</a>
                                                </li>


                                                </li>
                                                <li class="nav-item"><a href="{% url 'preference' %}">Fitness Goals</a>
                                                </li>
                                                <li class="nav-item"><a href="{% url 'goals' %}">Measurements</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" role="button"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" href="#">
                                                        Food Logs
                                                        <!-- <span class = "caret"></span> -->
                                                    </a>
                                                    <div class="dropdown-menu w-100">

                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="/Breakfast/">Breakfast</a>
                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="/Lunch/">Lunch</a>
                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="/Snacks/">Snacks</a>
                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="/Dinner/">Dinner</a>
                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="/water/">Water</a>
                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="/total/">Total Intake</a>
                                                    </div>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" role="button"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" href="#">
                                                        Progress
                                                        <!-- <span class = "caret"></span> -->
                                                    </a>
                                                    <form action="/graph/" method="POST" id="graph">
                                                        {% csrf_token %}
                                                    <input type="hidden" id='choice' name='choice' value="">
                                                </form>
                                                    <div class="dropdown-menu w-100" id='demolist'>

                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="#" onclick="$(this).closest('form').submit()" value='weight'>Weight</a>
                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="#" onclick="$(this).closest('form').submit()" value='weight'>Body fat percentage</a>
                                                        <a class="dropdown-item" style="font-size: 12px;"
                                                            href="#" onclick="$(this).closest('form').submit()" value='weight'>Water</a>
                                                    </div>
                                                    <script>
                                                        $('#demolist a').on('click', function(){
                                                            $('#graph #choice').val($(this).text());
                                                            $('#graph').submit();
                                                        });
                                                    </script>
                                                </li>


                                            </ul>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- site-navigation end-->
                </div>
            </div>
    </div>
    </div>

    <!--ttm-header-wrap end -->
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>